@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*Create-profile components*/
.create-profile {
    position: relative;
    width: auto;
    border-radius: 15px;
    background-color: #19A7CE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 3%;
    color: #E1F0F6;
}

.back-arrow-container {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.back-arrow {
    color: #0e3e54;
}

.back-arrow:hover {
    color: #FEFF86;
}

.create-profile h1 {
    color: #E1F0F6;
    margin-bottom: 5%;
    text-align: center;
}

.form-group label {
    color: white;
    font-size: medium;
}

.form-group input {
    background-color: #E1F0F6;
    border-radius: 15px;
    height: 50px;
    width: 290px;
    padding: 1rem;
    border-style: none;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

.form-group {
    flex: 0 0 calc(50% - 10px);
    align-items: center;
    padding: 1rem;
    border-radius: 15px;
    border-style: none;
}

.form-group + .form-group {
    margin-left: 20px;
}

.upload {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}

.upload p {
    font-size: medium;
    font-family: Rubik, sans-serif;
    color: #E1F0F6;
    margin-bottom: 3px;
    margin-left: 20px;
    font-weight: inherit;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #E1F0F6;
    color: #0e3e54;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    width: auto;
    margin-left: 20px;

}

.upload input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}

.upload .custom-file-upload:hover {
    background-color: #FEFF86;
}

.submit-button {
    text-decoration: none;
    font-size: medium;
    font-family: Rubik, sans-serif;
    width: 120px;
    height: 50px;
    background-color: #B0DAFF;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: #0e3e54;
}

.submit-button:hover {
    background-color: #FEFF86;
}

.error-message {
    text-align: center;
    margin-top: 10px;
    color: #FEFF86;
    font-weight: bold;
}
/*end create-profile*/
