/*Create-profile components*/
.create-profile {
    width: 60vw;
    border-radius: 15px;
    background-color: #19A7CE;
    margin: 80px 100px;
    padding: 40px;
}

.profile-heading {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

label {
    color: white;
    font-size: medium;
}

input {
    background-color: #E1F0F6;
    border-radius: 3px;
    border-color: #E1F0F6;
    height: 50px;
    width: 290px;
}

input.picture {
    background-color: #19A7CE;
}


/* Form rows to align groups horizontally */
.form-row {
    display: flex;
    justify-content: space-between; /* Distribute space between groups */
    margin-bottom: 30px;
    align-items: center;
}

/* Form group styling */
.form-group {
    flex: 0 0 calc(50% - 10px); /* Each group takes half of the space with margins */
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}

/* Add margin between form groups */
.form-group + .form-group {
    margin-left: 20px;
}

/* Label styling */
.form-group > label {
    margin-bottom: 5px; /* Add space between label and input */
}


.form-group.upload {
    float: left; /* Align upload field to the right */
    width: calc(50% - 10px); /* Adjust width for upload field */
    color: white;
    background-color: #19A7CE;
}

.create-profile-button {
    display: flex; /* Add display flex for centering */
    justify-content: center; /* Center the button horizontally */
    margin-top: 20px;
}

.submit-button {
    text-align: center;
    text-decoration: none;
    color: #19A7CE;
    font-size: medium;
    font-family: Rubik, sans-serif;
    width: 120px;
    height: 50px;
    background-color: #B0DAFF;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
/*end create-profile*/