@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

main {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 3%;
    color: #E1F0F6;
    background-color: #19A7CE;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 40%;
    height: 300px;
}

.section h1 {
    color: #FEFF86;
    margin-bottom: 20px;
}

.section p {
    font-size: large;
}

.heading-section,
.button-section {
    padding: 20px;
}

.button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 100%;
}

.button-section a {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #B0DAFF;
    width: 140px;
    height: 70px;
    color: #0e3e54;
    cursor: pointer;
    font-size: large;
    font-family: Rubik, sans-serif !important;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button-section a:hover {
    background-color: #FEFF86;
}
