/*wishes*/

.wishes-wrapper {
    color: #0e3e54;
    padding: 2rem;
}

.wishes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

}

.wishes a {
    color: #E1F0F6;
    text-decoration: none;
}

.wishes h3 {
    padding-bottom: 1rem;
}

.wish {
    background-color: #146C94;
    padding: 2rem;
    width: 20vw;
    height: 20vw;
    border-radius: 15px;

}
.wish a {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Center the content vertically */
    align-items: center; /* Center the content horizontally */
    height: 100%;
}

.wish-name {
    flex-direction: column;
    justify-content: space-between; /* Center the content vertically */
    align-items: center; /* Center the content horizontally */

}
.wish-description {
    font-style: italic;
    margin-bottom: 5px;
}

.wish-picture {
    width: 100%; /* Adjust the width and height as needed */
    height: 60%;
    object-fit: cover;

}


.wishlist-info-wrapper {
    background-color: #19A7CE;
    color: #E1F0F6;
    border-radius: 15px 15px 0 0 ;
    padding :2rem;
    display: flex;
    gap: 3rem;
    justify-content: space-between;

}
.wishlist-forms-wrapper {
    display: flex;
}
.wishlist-forms-wrapper > * {
    margin: 5px;
}


.h2-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-bottom: 2rem;
}

.wish-price {
    font-size: x-large;
}
/*wishes end*/
