<footer>
  <section>
    <a th:href="@{/}">
      <img src="/assets/logo.svg" alt="logo">
    </a>
    <p>Copyrights Munazzah, Nanna and Emma dat23a</p>
  </section>

  <ul>
    <li><a class="footer-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Joke link 1</a></li>
    <li><a  class="footer-link" href="https://www.youtube.com/watch?v=Sdkwu2FvFfI">Joke link 2</a></li>
    <li><a class="footer-link" href="https://github.com/empasquer/DreamCloud" target="_blank">Github</a></li>
  </ul>
</footer>