<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="styles.css">
    <!-- Det er til icons and stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- slut -->
</head>
<body>

<div th:insert="~{home/header :: header}"></div>

<main>
    <h1>Hello Im under construction</h1>

    <section class="index-button-bg">
        <div>
            <ul class="button-list">
                <li class="button" th:if="${profile != null}">
                    <a class="button-link" th:href="@{/profile/{username}(username=${profile.profileUsername})}" th:text="Profile">Log In</a>
                </li>
                <li class="button" th:unless="${profile != null}">
                    <a class="button-link" th:href="@{/create_profile}">Log In</a>
                </li>

                <li class="button" th:if="${profile != null}">
                    <a class="button-link" th:href="@{/profile/{username}(username=${profile.profileUsername})}" th:text="Profile">New Profile</a>
                </li>
                <li class="button" th:unless="${profile != null}">
                    <a class="button-link" th:href="@{/create_profile}">New Profile</a>
                </li>
            </ul>
        </div>
    </section>

</main>



<div th:insert="~{home/footer :: footer}"></div>

</body>
</html>