<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LegendaryDreamCloud</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="shortcut icon" href="/assets/logo.ico" type="image/x-icon">

</head>
<body>

<div th:insert="~{home/header :: header}"></div>

<main>
    <section class="section">
        <div class="heading-section">
            <h1>Make your dreams come true!</h1>
            <p>With dream cloud your dreams are just a click away!
                Let your friends and family buy exactly what
                you desire by creating wishlists</p>
        </div>
    </section>

    <section class="section">
        <div class="button-section">
            <a class="button" th:href="@{/login}">Login</a>
            <a class="button" th:href="@{/create_profile}">New Profile</a>
        </div>
    </section>
</main>



<div th:insert="~{home/footer :: footer}"></div>

</body>
</html>