<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="${wishlist.getWishlistTitle()}"></title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/wishlist.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="shortcut icon" href="/assets/logo.ico" type="image/x-icon">
</head>

<body>

<div th:insert="~{home/header :: header}"></div>

<main>
    <section>
        <article class="wishlist-info-wrapper">
            <div>
                <a th:href="@{'/' + ${profileUsername}+ '/profile'}" class="button small"><i
                        class="fas fa-arrow-left"></i></a>
            </div>

            <div >
                <h1 th:text="${wishlist.wishlistTitle}"></h1>
                <p th:text="${wishlist.wishlistDescription}"></p>
            </div>
            <th:block th:if="${isAuthorized}">
            <div class="wishlist-forms-wrapper">
                <form  th:action="@{'/' + ${profileUsername} +'/edit-wishlist/' + ${wishlist.getWishlistId()}}" method="get">
                    <button type="submit" class="button small"><i class="fas fa-pen"></i></button>
                </form>

                <form th:action="@{'/' + ${profileUsername} +'/delete-wishlist/' + ${wishlist.getWishlistId()}}" method="post">
                    <button type="button" id="actualDeleteButton" class="button small" onclick="showDeleteConfirmation()"><i class="fas fa-trash"></i></button>
                    <p id="confirmDeleteMessage">Are you sure? Click on the red button to confirm.</p>
                    <button type="submit" id="confirmDeleteButton" class="button small" style="background-color: red; display: none;"><i class="fas fa-trash"></i></button>
                </form>


                <form th:action="@{'/' + ${profileUsername} + '/wishlist/' + ${wishlistId} + '/share'}" method="post">
                    <button type="submit" class="button small"><i class="fas fa-share"></i></button>
                </form>

            </div>
            </th:block>

        </article>

        </article>
        <article class="wishes-wrapper">
            <div class="h2-wrapper">
                <h2 th:text="${wishlist.wishlistTitle} +  '´s wishes'"></h2>
                <th:block th:if="${isAuthorized}">
                    <a th:href="@{ '/' + ${profileUsername} + '/wishlist/' + ${wishlist.wishlistId} + '/create_wish'}">

                        <button class="button small"><i class="fas fa-plus"></i></button>
                    </a>
                </th:block>
            </div>

            <ul class="wishes">
                <li class="wish" th:each="wish : ${wishes}" >

                    <a th:href="@{/{profileUsername}/wishlist/{wishlistId}(wishlistId = ${wishlistId})/wish/{wishId}(profileUsername=${profileUsername},wishId=${wish.wishId})}">
                        <h3 class="wish-name" th:text="${wish.wishName}"></h3>

                        <!-- Check if wish has a picture, display it if available -->
                        <th:block th:if="${wish.wishPictureAsBase64 != null}">
                            <img class="wish-picture"
                                 th:src="'data:image/jpeg;base64,' + ${wish.wishPictureAsBase64}"
                                 alt="Wish Picture">
                        </th:block>

                        <!-- If no picture, display wish description -->
                        <th:block th:unless="${wish.wishPictureAsBase64 != null}">
                            <p class="wish-description" th:text="${wish.wishDescription}"></p>
                        </th:block>

                        <p class="wish-price" th:text="${wish.wishPrice} + ',- DKK'"></p>

                    </a>
                </li>
            </ul>

        </article>
    </section>

</main>
<div th:insert="~{home/footer :: footer}"></div>


<script>
    function showDeleteConfirmation() {
        let confirmDeleteButton = document.getElementById("confirmDeleteButton");
        let confirmDeleteMessage = document.getElementById("confirmDeleteMessage");
        let actualDeleteButton = document.getElementById("actualDeleteButton");

        if (confirmDeleteButton.style.display === "none") {
            confirmDeleteButton.style.display = "inline-block";
            confirmDeleteMessage.style.display = "inline-block";
            actualDeleteButton.style.display = "none";
        } else {
            confirmDeleteButton.style.display = "none";
            confirmDeleteMessage.style.display = "none";
            actualDeleteButton.style.display = "inline-block";
        }
    }
</script>

</body>
</html>